version: '3.5'
  
services:
    crawler:
        image: webrecorder/browsertrix-crawler:0.4.0-beta.0
        build:
          context: ./

        volumes:
          - ./crawls:/crawls

        cap_add:
          - NET_ADMIN
          - SYS_ADMIN

        shm_size: 1gb
