name: Node.js CI

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: install requirements
        run: yarn install
      - name: run linter
        run: yarn lint && yarn format

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: install requirements
        run: yarn install
      - name: build js
        run: yarn run tsc
      - name: build docker
        run: docker-compose build
      - name: run jest
        run: sudo yarn test
      - name: run saved state test with volume owned by different user
        run: |
          sudo rm -rf ./test-crawls
          mkdir test-crawls
          export REPEAT=1
          sudo -E yarn test ./tests/saved-state.test.js
