name: Node.js CI

on: [push]

jobs:
  lint:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install requirements
      run: npm install
    - name: run linter
      run: yarn run eslint .
  
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install requirements
      run: npm install
    - name: build docker
      run: docker-compose build
    - name: run crawl
      run: docker-compose run crawler crawl --url http://www.example.com/ --generateWACZ  --text --collection wr-net --combineWARC --workers 2              
    - name: validate existing wacz
      run: docker-compose run crawler wacz validate --file collections/wr-net/wr-net.wacz
    - name: unzip wacz
      run: docker-compose run crawler unzip collections/wr-net/wr-net.wacz -d collections/wr-net/wacz
    - name: run jest
      run: sudo yarn jest
        




