name: docs-publish
on:
  push:
    branches:
      - main
      - docs-1.0.0
    paths:
      - 'docs/**'

permissions:
  contents: write

jobs:
  deploy_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: build docker image (for getting cli)
        run: docker-compose build

      - name: generate cli
        run: docs/gen-cli.sh

      - run: pip install mkdocs-material
      - run: cd docs/ && mkdocs gh-deploy --force
