name: Publish Docker image
on:
  push:
  release:
    types: [published]

jobs:
  push_to_registries:
    name: Build x86 and ARM Images and push to Dockerhub
    runs-on: ubuntu-latest
    steps:
      - 
        name: Check out the repo
        uses: actions/checkout@v2

      -
        name: Prepare
        id: prep
        run: |
          DOCKER_IMAGE=webrecorder/browsertrix-crawler
          VERSION=edge
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          elif [[ $GITHUB_REF == refs/heads/* ]]; then
            VERSION=$(echo ${GITHUB_REF#refs/heads/} | sed -r 's#/+#-#g')
          elif [[ $GITHUB_REF == refs/pull/* ]]; then
            VERSION=pr-${{ github.event.number }}
          fi
          TAGS="${DOCKER_IMAGE}:${VERSION}"
          if [ "${{ github.event_name }}" = "push" ]; then
            TAGS="$TAGS,${DOCKER_IMAGE}:sha-${GITHUB_SHA::8}"
          fi
          #echo ::set-output name=version::${VERSION}
          echo ::set-output name=tags::${TAGS}
          #echo ::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        if: ${{ github.event_name == 'published' || github.event_name == 'prereleased' }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.event_name == 'published' || github.event_name == 'prereleased' }}
          tags: ${{ steps.prep.outputs.tags }}
          platforms: "linux/amd64"
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

